.weather-code-div {
  width: 85px;
}
.icon {
  width: 40px;
  height: 40px;
}

.day {
  height: 48px;
  margin-top: 6px;
  margin-bottom: 12px;
}

.expand-button {
  width: 25px;
  height: 25px;
}

.container {
  font-size: 16px;
}

.range {
  width: calc(90% - 156px);
}
.bar {
  height: 18px;
}

.spacer {
  margin-right: -52px;
}
.low {
  margin-right: 7px;
  width: 45px;
  text-align: right;
}
.high {
  margin-left: 7px;
  margin-right: -52px;
  width: 45px;
  text-align: left;
}
