.deg {
  font-size: 32px;
}
.condition {
  font-size: 32px;
}
.details {
  font-size: 1rem;
}


// Small devices (landscape phones, 576px and below)
@media (max-width: 575.98px) {
  .deg {
    font-size: 24px;
  }
  .condition {
    font-size: 22px;
  }
}
