<div class="d-flex justify-content-center mb-3">
  <div class="scroll">
    <div class="buttons btn-group btn-group-toggle" ngbRadioGroup name="fieldSelector" [(ngModel)]="selectedField">
      <label *ngFor="let field of selectableFields | keyvalue: originalOrder" ngbButtonLabel class="btn-primary"
             (click)="scrollIntoView($event.currentTarget)">
        <input ngbButton type="radio" [id]="field.key + uniqueId" [value]="field.key">{{field.key}}
      </label>
    </div>
  </div>
</div>
<div class="d-flex justify-content-center">
  <div class="w-100-md-75">
    <div class="d-flex flex-column hour-rows">
      <ng-container *ngFor="let hour of hours; let i = index;">
        <div class="d-flex justify-content-start align-items-center">
          <div class="bar flex-none" [style.background-color]="hour.segmentAttributes.color"></div>
          <div class="hour">{{hours[i].startTimeDate.toLocaleString('en-US', {hour: 'numeric', hour12: true})
            .replace(' ', '')
            .toLocaleLowerCase()}}</div>
          <div class="flex-none d-flex align-items-center" [style.width.px]="getWeatherCodeWidth()">
            <div class="weather-code flex-none"
                 *ngIf="!(i > 0 && hours[i].segmentAttributes.label == hours[i-1].segmentAttributes.label)">{{hour.segmentAttributes.label}}</div>
            <div class="horizontal-line flex-fill"></div>
          </div>
          <div class="d-flex align-items-center horizontal-line"
               [style.flex]="getSpacerWidth(i)"></div>
          <div
            class="rounded bg-dark text-light px-2 ml-2 d-flex justify-content-center">
            <div>{{getSelectedFields()[i][0].value | number: fieldsDecimalPipe.get(selectedField)}}{{fieldsDisplayUnit.get(selectedField)}}</div>
            <div class="ml-1" *ngIf="getSelectedFields()[i][1]"
                 [style]="{'transform': 'rotate(' + getSelectedFields()[i][1].value + 'deg)'}">↑
            </div>
          </div>
        </div>
      </ng-container>
      <div *ngIf="hours.length" class="text-right mt-1">Values in {{getSelectedFields()[0][0].units}}</div>
    </div>
  </div>
</div>
