<div class="container-md pb-4">
  <div class="row">
    <div class="col d-flex justify-content-center">
      <img width=84 height=84 *ngIf="now" [src]="'assets/weather_code/'+now.icon+'.svg'">
      <div class="pl-2 d-flex flex-column justify-content-center">
        <div class="condition">
          {{now?.temp.value | number: '0.0-0'}}&deg; {{now?.segmentAttributes?.label}}
        </div>
        <div class="details">
          Feels Like: <b>{{now?.feels_like.value}}&deg;</b>
          Low: <b>{{today?.temp_min.vup.value}}&deg;</b>
          High: <b>{{today?.temp_max.vup.value}}&deg;</b>
        </div>
      </div>
    </div>
  </div>
</div>
