<div class="container-md pb-4">
  <div class="d-flex justify-content-center align-items-center">
    <img width=84 height=84 *ngIf="now" [src]="'assets/weather_code/'+now.icon+'.svg'">
    <div class="pl-2 d-flex flex-column justify-content-center">
      <div class="d-flex align-items-end">
        <div class="deg">{{now?.temp.value | number: '0.0-0'}}&deg;&nbsp;</div>
        <div class="condition">{{now?.segmentAttributes?.label}}</div>
      </div>
      <div class="details d-flex flex-column">
        <div>Feels&nbsp;Like:&nbsp;<b>{{now?.feels_like.value | number: '0.1-1'}}</b>&deg;&nbsp;Precip&nbsp;:&nbsp;<b>{{today?.precipitation_probability.value | number: '1.0-0'}}</b>{{today?.precipitation_probability.units}}</div>
        <div>Low:&nbsp;<b>{{today?.temp_min.vup.value | number: '0.1-1'}}</b>&deg;&nbsp;High:&nbsp;<b>{{today?.temp_max.vup.value | number: '0.1-1'}}</b>&deg;</div>
      </div>
    </div>
  </div>
</div>
