.scroll {
  overflow: auto;
}

.buttons {
  width: max-content;
  overflow-x: auto;
  overflow-y: hidden;
}

.flex-none {
  flex: none;
}

@media (min-width: 816px) {

  .hour-rows {
    font-size: 1rem;
  }

  .bar {
    width: 40px;
    height: 40px;
  }

  .hour {
    margin-left: 1rem;
    margin-right: 1rem;
    width: 3rem;
  }
  .weather-code {
    margin-right: 1rem;
  }

  .w-100-md-75 {
    width: 75%;
  }
}

@media (max-width: 816px) {

  .hour-rows {
    font-size: 0.85rem;
  }

  .bar {
    width: 15px;
    height: 40px;
  }

  .hour {
    margin-left: 0.5rem;
    margin-right: 0.25rem;
    width: 2.3rem;
  }
  .weather-code {
    margin-right: 0.25rem;
  }

  .w-100-md-75 {
    width: 100%;
  }
}

.hour-rows > div:first-child > .bar {
  border-radius: 0.25rem 0.25rem 0 0;
}
.hour-rows > div:last-child > .bar {
  border-radius: 0 0 0.25rem 0.25rem;
}

.weather-code {
  font-style: italic;
}

.horizontal-line {
  border-top: 1px solid #bababa;
}

.displayed-value {
  width: 110px;
}
