<div class="container">
  <div class="row">
    <div class="col d-flex justify-content-center">
      <div class="btn-group btn-group-toggle" ngbRadioGroup name="fieldSelector" [(ngModel)]="selectedField">
        <label *ngFor="let field of selectableFields | keyvalue: originalOrder" ngbButtonLabel class="btn-primary">
          <input ngbButton type="radio" [value]="field.key">{{field.key}}
        </label>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="w-75">
        <div class="d-flex flex-column">
          <ng-container *ngFor="let hour of hours; let i = index;">
            <div class="d-flex justify-content-start align-items-center">
              <div class="weather-code text-right mr-3" [style.visibility]="(i > 0 && hours[i].segmentAttributes.label == hours[i-1].segmentAttributes.label) ? 'hidden' : 'visible'">
                {{hour.segmentAttributes.label}}
              </div>
              <div class="bar" [style.background-color]="hour.segmentAttributes.color"></div>
              <!--            <div class="spacer" [style.width.%]=""></div>-->
              <div *ngFor="let vup of getSelectedFields()[i]">{{vup.value}} {{vup.units}}</div>
            </div>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</div>
